header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.31rem;
  padding-left: 2rem;
  padding-right: 2.56rem;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: $grey;
  }
  .logo {
    font-family: "Antonio", sans-serif;
    font-size: 1.75rem;
    letter-spacing: -0.06563rem;
    text-transform: uppercase;
    line-height: 1.29;
  }
  nav {
    a {
      &.link {
        margin-right: 2.06rem;
        text-decoration: none;
        font-size: 0.6875rem;
        font-weight: 700;
        line-height: 2.27;
        letter-spacing: 0.0625rem;
        &:last-child {
          margin-right: 0;
        }
      }
      &:hover,
      &.active {
        // Hover and active link styles
        position: relative;
        display: inline-block;
        width: auto;

        &::before {
          content: "";
          position: absolute;
          top: -1.81rem;
          left: 0;
          width: 100%;
          height: 0.25rem;
          background-color: transparent;
        }
      }
      // Dynamically set background-color based on the active planet and hover
      @each $name, $color in $planet-colors {
        &.active[data-planet="#{$name}"]::before,
        &:hover[data-planet="#{$name}"]::before {
          background-color: $color;
        }
      }
    }
  }
}
