header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.31rem;
  padding-left: 2rem;
  padding-right: 2.56rem;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
  }
  .logo {
    font-family: "Antonio", sans-serif;
    font-size: 1.75rem;
    letter-spacing: -0.06563rem;
    text-transform: uppercase;
    line-height: 1.29;
  }
  nav {
    .link {
      margin-right: 2.06rem;
      text-decoration: none;
      font-size: 0.6875rem;
      font-weight: 700;
      line-height: 2.27;
      letter-spacing: 0.0625rem;
    }
    .link:last-child {
      margin-right: 0;
    }
    a.active {
      position: relative;
      display: inline-block; 
      width: auto;
      &::before {
        content: "";
        position: absolute;
        top: -1.81rem;
        left: 0;
        width: 100%;
        height: 0.25rem;
        background-color: $blue;
      }
    }
  }
}
