$white: #FFFFFF; 
$black: #000000;        
$navy: #070724; 
$grey: #d8d8d833;
$light-grey: #ffffff80;        
       
$planet-colors: (
  mercury: #419EBB,
  venus: #EDA249,
  earth: #6D2ED5,
  mars: #D14C32,
  jupiter: #D83A34,
  saturn: #CD5120,
  uranus: #1EC1A2,
  neptune: #2D68F0
);

.grey-color {
  color: $light-grey;
}


