@import "reset";
@import "colors.scss";

@import "components/Header.scss";

@import 'Planets';

body {
  color: $white;
  font-family: "Spartan", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.79;
  background-image: url("../assets/background-stars.svg");
  background-position: 47% 50%;
  background-color: $navy;
}

h1 {
  font-size: 5rem;
  line-height: 1.29;
  text-transform: uppercase;
  font-family: "Antonio", sans-serif;
}

h2 {
  font-family: "Antonio", sans-serif;
  font-size: 2.5rem;
  line-height: 1.29;
  letter-spacing: -0.094rem;
  text-transform: uppercase;
}

h3, button {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 2.08;
  letter-spacing: 0.16rem;
  text-transform: uppercase;
}

h4 {
  font-size: 0.69rem;
  font-weight: 700;
  line-height: 2.27;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
}

a, button {
  color: inherit;
  display: inline-block;
}

// responsive - 768px;
@media(max-width: 48rem) {
  body {
    font-size: 0.6875rem;
    line-height: 2;
  }

  h1 {
    font-size: 3rem;
  }
}