@import "reset";
@import "colors";

@import "Planets";

@import "components/Header";

body {
  color: $white;
  font-family: "Spartan", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.79;
  background-image: url("../assets/background-stars.svg");
  background-color: $navy;
}

h1 {
  font-size: 5rem;
  line-height: 1.29;
  text-transform: uppercase;
  font-family: "Antonio", sans-serif;
}

h2,
.header nav a.link {
  font-size: 0.6875rem;
  font-weight: 700;
  line-height: 2.27;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

h3 {
  font-family: "Antonio", sans-serif;
  font-size: 2.5rem;
  line-height: 1.29;
  letter-spacing: -0.094rem;
  text-transform: uppercase;
}

button {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 2.08;
  letter-spacing: 0.16069rem;
  text-transform: uppercase;
}

a,
button {
  color: inherit;
  display: inline-block;
}

// responsive - 1000px;
@media (max-width: 62.5rem) {
  body {
    font-size: 0.6875rem;
    line-height: 2;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 0.5rem;
    line-height: 2;
    letter-spacing: 0.04544rem;
  }

  h3 {
    font-size: 1.5rem;
    letter-spacing: -0.05625rem;
  }

  button {
    font-size: 0.5625rem;
    line-height: 2.78;
    letter-spacing: 0.12056rem;
  }
}
