.planet {
  padding: 7.88rem 10.31rem 3.5rem 10.31rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__main {
    display: flex;
    padding-bottom: 5.44rem;
  }
  &__information {
    display: flex;
    gap: 1.88rem;
    &__div {
      border: 1px solid rgb(255, 255, 255, 0.2);
      width: 15.9375rem;
      height: 8rem;
      padding: 1.25rem 0 1.69rem 1.44rem;
    }
  }
}
