.planet {
  margin: 0 auto;
  max-width: 1109px;
  padding-top: 7.88rem;
  padding-bottom: 3.5rem;
  &__main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5.44rem;
    height: 39.188rem;
    position: relative;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60%;
      position: relative;
      &__internal {
        position: relative;
      }
      &__geology {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__arrow {
          position: absolute;
          bottom: 0px;
        }
      }
    }
    &__text {
      width: 21.875rem;
      &__facts {
        &__heading {
          padding-bottom: 1.44rem;
        }
        &__source {
          padding-top: 1.5rem;
          padding-bottom: 2.44rem;
          opacity: 0.5;
          a {
            font-weight: 700;
            .icon-source {
              margin-left: 0.5rem;
              margin-bottom: -0.188rem;
            }
          }
        }
      }
      &__buttons {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        button {
          border: 1px solid $grey;
          width: 21.875rem;
          height: 3rem;
          background-color: transparent;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          cursor: pointer;
          &:not(.active):hover {
            background-color: $grey !important;
          }
          span {
            opacity: 0.5;
            padding-right: 1.75rem;
            padding-left: 1.75rem;
          }
        }
      }
    }
  }
  &__information {
    display: flex;
    gap: 1.88rem;
    &__div {
      border: 1px solid $grey;
      width: 15.9375rem;
      height: 8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 1.44rem;
    }
  }
  // responsive - 1200px
  @media (max-width: 75rem) {
    padding-left: 2.44rem;
    padding-right: 2.5rem;
    &__main {
      flex-direction: column;
      height: unset;
      &__image {
        width: 100%;
      }
      &__text {
        display: flex;
        width: 100%;
        &__facts {
          width: 60%;
          padding-right: 9%;
        }
        &__buttons {
          width: 40%;
          display: flex;
          justify-content: center;
          margin-left: 3%;
          button {
            width: 100%;
          }
        }
      }
    }
  }
  // 1000px
  @media (max-width: 62.5rem) {
    .planet__main {
      padding-bottom: 0;
      &__text__facts {
        &__heading {
          padding-bottom: 1.5rem;
        }
        &__source {
          padding: 2rem 0 2.56rem 0;
        }
      }
      &__text__buttons button {
        width: 17.5625rem;
        height: 2.5rem;
      }
    }
    .planet__information {
      gap: 0.69rem;
      &__div {
        padding-left: 1.44rem;
      }
    }
  }
}
